.category, .category-null {
  background: #fff;
  padding: 20px 30px;
  -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);
}

.category-intro {
  padding-bottom: 15px;
}

.category-intro .title {
  color: #454545;
  font-size: 25px;
  font-weight: 700;
}

.category-intro .brief-intro {
  font-size: 14px;
  color: #999;
}

/*.category-article-list .item {*/
/*  padding-bottom: 3px;*/
/*  padding-left: 10px;*/
/*}*/

.category-article-list .table-item .title {
  margin-top: 6px;
}

.category-article-list .table-item .title a {
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
  color: #454545;
  font-size: 17px;
  font-weight: 500;
}

.category-article-list .table-item .title a:hover {
  color: #888;
  -webkit-transition: color 100ms;
  -o-transition: color 100ms;
  transition: color 100ms;
}

.category-article-list .table-item .status {
  text-align: right;
  color: #999;
  font-size: 13px;
  margin-top: 10px;
}


#category-pager-root .pagesInfo {
  color: #999;
  font-size: 13px;
  text-align: center;
}

#category-pager-root .no-blog,
#category-null {
  color: #999;
  font-size: 30px;
  text-align: center;
}

#category-article-list .no-blog {
  color: #999;
  font-size: 15px;
}