.header {
    padding-bottom: 80px;
    background: #454545;
}

.header .title,
.header .btns,
.header .other-blog-info > * {
    padding-top: 25px;
}
.header .title {
    color: #eee;
    font-size: 20px;
    font-weight: 600;
    padding-left: 10px;
}

/*#save-btn,*/
/*#distribute-btn,*/
/*#internal-btn{*/
/*    !*margin-right: 5px;*!*/
/*    margin-bottom: 5px;*/
/*}*/



.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}